<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"> <!-- Comienza encabezado -->
        <title>LaPulpe</title> <!-- El titulo de la pagina -->
        <meta charset="UTF-8"/> 
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
    </head> 
    <body> 
        
        <header th:replace="~{layout/plantilla :: header}"/>   
        <section th:replace="~{pruebas/fragmentos :: tabsCategorias}"/>              
        <section th:replace="~{pruebas/fragmentos :: listadoProductos}"/>                          
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body> <!-- Cierra el cuerpo -->
</html>
